<div class="container page">

  <lib-modal title="Modal" #modal>
    Modal Content
    <lib-modal-actions>
      <div class="row">
        <div class="col-6 float-left">
          <lib-solid-button label="Cancel Button" clazz="secondary" (click)="toggleModal()"></lib-solid-button>
        </div>
        <div class="col-6 float-right">
          <lib-solid-button label="Action Button" clazz="primary"></lib-solid-button>
        </div>
      </div>
    </lib-modal-actions>
  </lib-modal>
  <!-- User Form -->
  <div class="row">
    <div class="col-xs-12 col-lg-8 offset-lg-2">
      <lib-alert #alert title="Hey!" text="This is a success alert!" type="success"></lib-alert>
      <lib-form-section-stepper [form]="userForm" (formComplete)="userFormComplete()"></lib-form-section-stepper>
    </div>
  </div>

  <!-- Product Form -->
  <div class="row">
    <div class="col-xs-12 col-lg-8 offset-lg-2">
      <lib-form-section-stepper [form]="productForm"></lib-form-section-stepper>
    </div>
  </div>

  <button class="btn btn-primary-action" (click)="toggleModal()">Toggle Modal</button>

</div>
